*{
  margin: 0;
  padding: 0;
  text-align: center;
}

a{
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  padding: 4px;
  margin: 10px;
  width: 120px;
}

main{
  display: flex;
  height: 100vh;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}